
<div class="text-center mb-5"><img src="https://www.logisticag2l.com.br/images/icon/logo-branco.png" class="m-auto mb-3"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">G2L Test</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/veiculos">Veículos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/motoristas">Motoristas</a>
    </li>
  </ul>
</nav>