<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../communs/head'); %>

</head>
<body class="container bg-success">
<header>
    <%- include('../communs/header'); %>
</header>

<main>

<div class="row mt-5">
	<div class="col-6">
		<div class="card card-body">
			<form action="/veiculos/add" method="POST">
			<div class="form-group">
				<labe>Placa</label>
				<input class="form-control" type="text" placeholder="Digite a placa" name="placa">
				<small id="emailHelp" class="form-text text-muted">Digite a placa do veículo corretamente.</small>
			</div>
			<div class="form-group">
				<labe>Modelo</label>
				<input class="form-control"type="text" placeholder="Digite o modelo" name="modelo">
				<small id="emailHelp" class="form-text text-muted">Digite o modelo do veículo corretamente.</small>
			</div>
			<div class="form-group">
				<labe>CPF do Motoristas</label>
				<input class="form-control"type="text" placeholder="Digite o ano" name="ano">
				<small id="emailHelp" class="form-text text-muted">Digite o ano do veículo corretamente</small>
			</div>
			<div class="form-group">
				<labe>CPF do Motoristas</label>
				<input class="form-control"type="text" placeholder="Digite a cor" name="cor">
				<small id="emailHelp" class="form-text text-muted">Digite a cor do veículo corretamente.</small>
			</div>
			<button class="btn btn-success btn-block mt-2 mb-2" type="submit">Cadastrar</button>
			</form>
		</div>
	</div>
	<div class="col-6">
	</div>
</div>
</main>

<footer>
    <%- include('../communs/footer'); %>
</footer>
</body>
</html>