

<form action="/motoristas/add" method="POST">
  <input type="text" placeholder="Digite o nome do motorista" name="name">
  <input type="text" placeholder="Digite o cpf" name="cpf">
  <button type="submit">Submit</button>
</form>